.project {
  display: flex;
  flex-wrap: wrap !important;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}
.py-8 {
  margin-top: 0;
}

/* Box itself */
.box {
  transform: skew(-5deg);
  position: relative;
  margin: 0 28px 3rem 28px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 250px;
  background: linear-gradient(161.61deg, #e4dede 0.34%, rgba(251, 240, 240, 0.37) 56.96%, #d6d1d1 106.91%);
  border-radius: 4px;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter, background-position-y, border-radius, transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  background-size: 500px 380px;
  background-position-x: -70px;
  padding: 20px;
}
.box:hover {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-shadow);
  background-position-y: -30px;
  border-radius: 6px;
}

/*------Inside box content--------*/
.content {
  border-radius: 2px;
  height: 280px;
  position: relative;
}
.thumbnail {
  position: relative;
  display: flex;
  height: 50%;
  width: 106%;
}
.thumbnail2 {
  position: absolute;
  transform: skew(5deg);
  left: -6px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 2px;
}
.title {
  transform: skew(5deg);
  color: #090909;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 0;
  display: block;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  letter-spacing: 0.2px;
  font-feature-settings: revert;
  word-wrap: break-word;
}
.description {
  transform: skew(5deg);
  --tw-text-opacity: 1;
  --bs-text-opacity: 1;

  display: flex;
  text-align: left;

  margin-top: -10px;
  width: 100%;
  position: absolute;
  left: 0;

  font-family: "Poppins", system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;

  color: #464646;
}


/*---------------Mobile-------------------*/
/* === Responsive === */

/*box 4 items*/
@media (min-width: 1401px) {
  .box {
    margin-left: 28px !important;
    margin-right: 28px !important;
  }
}
/*box 3 items*/
@media all and (max-width: 1400px) {
  .box {
    margin-left: 49px;
    margin-right: 49px;
  }
}
/*box 2 items*/
@media all and (max-width: 1200px) {
  .box {
    margin-left: 40px;
    margin-right: 40px;
  }
  .container.px-5.py-8.mx-auto {
    width: 100%;
  }
  .container {
    max-width: 1086px;
  }
}
@media all and (max-width: 1110px) {
  .box {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media all and (max-width: 1040px) {
  .box {
    margin-left: 15px;
    margin-right: 15px;
  }

  /* .project {
    padding-left: 102px;
    padding-right: 102px;
  } */
}

@media all and (max-width: 940px) {
  .box {
    margin-left: 15px;
    margin-right: 15px;
  }

  .project {
    padding-left: 102px;
    padding-right: 102px;
  }
}

@media all and (max-width: 860px) {
  .project {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (max-width: 760px) {
  .project {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media all and (max-width: 660px) {
  .project {
    padding-left: 0px;
    padding-right: 0px;
  }

  .box {
    width: 200px;
  }
}

@media all and (max-width: 560px) {
  .project {
    padding-left: 50px;
    padding-right: 0px;
  }

  .box {
    margin-bottom: 2rem;
    width: 250px;
  }
}

@media all and (max-width: 380px) {
  .project {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media all and (max-width: 330px) {
  .box {
    width: 200px;
    margin-bottom: 2rem;
  }
}

@media all and (max-width: 275px) {
    .box {
      width: 165px;
    }
  }
