.topnav {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}



.topnav a.active {
    color: white;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}

.Logo_CHE {
    width: 120px;
}

.topnav .link_logo {
    padding: 0px;
}

.Menu_Button {
    border: 2px solid #DFDFDF;
    border-radius: 2px;
}

.Menu_Button img {
    float: right;
}

.topnav .Menu_Button img {
    top: 50%;
    bottom: 50%;
    margin-left: 5px;
}

/* .Search_Button {
    border: 2px solid #DFDFDF;
    border-radius: 2px;
    height: 57.5px;
    width: 57.5px;
    padding: 0px;
}

.Search_Button {
    padding: 14px;
}

.topnav .Search_Button img {
    height: 24px;
    width: 200px;
} */