.topnav {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}



.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}

.Logo_CHE {
    width: 120px;
}

.topnav .link_logo {
    padding: 0px;
}