<head>
  <base href="../" />
  <link rel="stylesheet" href="css/footer.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Poppins"
    rel="stylesheet"
  />
</head>

<footer>
  <div class="contact">
    <div class="logo-left">
      <a
        href="https://www.facebook.com/christelijkehogeschoolede/"
        class="icon-facebook"
        target="_blank"
        ><img src="img/socialmedia/facebook-logo.svg" alt="facebook-logo"
      /></a>

      <a
        href="https://twitter.com/dehogeschoolede"
        class="icon-twitter"
        target="_blank"
        ><img src="img/socialmedia/twitter-logo.svg" alt="twitter-logo"
      /></a>

      <a
        href="https://www.instagram.com/dehogeschoolede/"
        class="icon-instagram"
        target="_blank"
        ><img src="img/socialmedia/instagram-logo.svg" alt="instagram-logo"
      /></a>

      <a
        href="https://www.youtube.com/user/dehogeschoolede"
        class="icon-youtube"
        target="_blank"
        ><img src="img/socialmedia/youtube-logo.svg" alt="youtube-logo"
      /></a>

      <a
        href="https://www.linkedin.com/school/230431"
        class="icon-linkedin"
        target="_blank"
        ><img src="img/socialmedia/linkedin-logo.svg" alt="linkedin-logo"
      /></a>
    </div>
    <div class="adres-right">
      <p class="adres-che">
        Christelijke Hogeschool Ede | Oude Kerkweg 100, 6721 JS Ede
      </p>
      <p class="adres-chehide">
        Christelijke Hogeschool Ede <br />
        Oude Kerkweg 100, 6721 JS Ede
      </p>
      <!-- <img class="logo-che-contact" src="img/socialmedia/logo-che.svg" alt="logo che"> -->
      <button onclick="topFunction()" class="backhome">
        <img src="img/socialmedia/arrowup.svg" alt="" />
      </button>
    </div>
  </div>
</footer>

<script>
  // script voor het naar boven scrollen
  window.onscroll = function () {
    scrollFunction();
  };
  function topFunction() {
    document.body.scrollTop = 0; // voor Safari
    document.documentElement.scrollTop = 0; // voor Chrome, Firefox, IE en Opera
  }
</script>

<!-- ====================================================== -->

<script src="/js/search.js"></script>
<script>
  const allTypes = ["all",  {{ range .Site.Sections }}"{{lower .Title}}",{{ end }}];
  const filter = (event, type) => {
    const isMultiPage = !!document.querySelector('nav.multipage');

    if (isMultiPage) {
      return;
    }

    const isActive = event.target.classList.contains("active");

    showAll();
    if (!isActive) {
      hideAll();
      event.target.classList.add("active");
      if (type !== "other") {
        document
          .querySelectorAll(`.${type}`)
          .forEach((item) => item.classList.remove("hide"));
      } else {
        document
          .querySelectorAll(
            `.card${specificTypes.map((type) => `:not(.${type})`).join("")}`
          )
          .forEach((item) => item.classList.remove("hide"));
      }
    }
  };

  const showAll = () => {
    allTypes.forEach((type) => {
      document
        .querySelectorAll(`.${type}`)
        .forEach((item) => item.classList.remove("hide"));
      document
        .querySelectorAll(`nav:not(.multipage) .filter-${type}`)
        .forEach((filterItem) => filterItem.classList.remove("active"));
    });
  };

  const hideAll = () => {
    allTypes.forEach((type) => {
      document
        .querySelectorAll(`.container a.card`)
        .forEach((item) => item.classList.add("hide"));
    });
  };

  allTypes.forEach((type) => {
    document
      .querySelectorAll(`.filter-${type}`)
      .forEach((filterItem) =>
        filterItem.addEventListener("click", (event) => filter(event, type))
      );
  });

  const showAllButton = document.querySelector(`.show-all`)
  if(showAllButton) {
    showAllButton.addEventListener("click", showAll);
  }

  {{ if .Site.Params.darkMode }}
  const darkmode = document.querySelector('.toggle-dark-mode');
  function toggleDarkMode() {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark')
      localStorage.setItem('darkmode', 'light')
    } else {
      document.documentElement.classList.add('dark')
      localStorage.setItem('darkmode', 'dark')
    }
  }
  if (darkmode) {
    darkmode.addEventListener('click', toggleDarkMode);
  }

  const isDark = localStorage.getItem('darkmode');
  if(isDark && isDark === 'dark') {
    toggleDarkMode();
  }
  {{ end }}
</script>
