<head>
  <link rel="stylesheet" href="css/no-pagination.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

{{ $pagelist := $.Scratch.Get "pages" }}
{{ if $pagelist }}
<div>
  {{ $pages := where $pagelist "Kind" "page" }}

  <!-- Box with all articles -->
  <div class="project">
    {{ range where $pages ".Params.exclude" "!=" "true" }}
    <!-- Article box -->
    <a rel="noopener" href="{{ .Params.Link }}" data-tags='{{ jsonify .Params.tags }}'
      class="box">
      <!-- Thumbnail image -->
      <div class="content">
        {{ if (or .Params.Image .CurrentSection.Params.Image) }}
        <div class="thumbnail">
          <img alt="{{ .Title }}" class="thumbnail2"
               src="{{ (or .Params.Image .CurrentSection.Params.Image) }}">
        </div>
        {{ end }}

        <!-- Title article with automatic resizing text -->
        <div>
            <h2 id="fit" style="padding-right:25px"
                class="title"> <!--Naam titel-->
              {{ .Title }}
            </h2>
        </div>
        
        <!-- Description fit automatic resizing text -->
        <p id="fit2"
          class="description">
          {{ .Params.Subtitle }}
        </p>
        
      </div>
    </a>
    {{ end }}
  </div>
 

  <script>
    var tagButtons = document.querySelectorAll(".tagbutton");
    tagButtons.forEach(function(button) {
      button.addEventListener("click", function() {
        var tag = this.textContent.trim();
        var box = document.querySelectorAll(".box");
        box.forEach(function(el) {
          let tags = JSON.parse(el.getAttribute("data-tags"));
          if (tags.includes(tag)) {
            el.style.display = "block";
          } else {
            el.style.display = "none";
          }
        });
      });
    });
  </script>
  

</div>

{{ end }}

<!-- Script for automatic text resize in box -->
<script src="js/fitty.min.js"></script>
<script>
  fitty('#fit', {
    minSize: 18,
    maxSize: 30,
    multiLine: true

  });
  fitty('#fit2', {
    minSize: 14,
    maxSize: 16,
    multiLine: true
  });
</script>
