<head>
  <base href="/project-showcase/" />
  <link rel="stylesheet" href="css/search.css" />
</head>

<div class="container-content">
  <section class="post">
    <!-- <h1 class="post-title">Search:</h1> -->
    <div class="searchbar">
      <input
        type="text"
        id="search-input"
        placeholder="Zoek naar projecten..."
        oninput="showSearchResults()"
      />
    </div>
    <div class="sdropdown">
      <div class="sdropdown-content">
        <div id="list"></div>
        <!-- this list is for rendering the results -->
      </div>
    </div>
  </section>
</div>
