.hoi {
    display: flex;
    flex-wrap: wrap!important;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.hoi2 {
    transform: skew(-5deg);
    margin: 0 14px 0 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: calc(100%/3);
    background: linear-gradient(161.61deg, #E4DEDE 0.34%, rgba(251, 240, 240, 0.37) 56.96%, #D6D1D1 106.91%);
    border-radius: 6px;
    
    
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);

    padding: 20px;
}
@media (min-width: 768px) {
    .hoi2 {
        width: 250px;
    }
}
@media (min-width: 640px) {
    .hoi2 {
        margin-bottom: 3rem;
    }
}

.hoi2:hover {
    /*hover:shadow-xl*/
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    /*hover:bg-gray-400*/
    --tw-bg-opacity: 1;
    background-color: rgba(156, 163, 175, var(--tw-bg-opacity));
}

.content {
    border-radius: 3px;
    height: 280px;
    position: relative;
}

.thumbnail {
    position: relative;
    height: 50%;
    width: 106%;
}
.thumbnail2 {
    position: absolute;
    transform: skew(5deg);
    left: -6px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.title {
    transform: skew(5deg);
    /*--bs-text-opacity: 1;*/
    color: black;
    
    /*padding-right: 0.5rem!important;*/
    /*padding-left: 0.5rem!important;*/
    
    /*padding-top: 0.25rem!important;*/
    /*padding-bottom: 0.25rem!important;*/
    /*letter-spacing: 1.5px;*/
    /*!*font-size: 1.5rem;*!*/
    /*line-height: 1.25;*/
    /*font-weight: 1000;*/
    word-wrap: break-word;
}

.description {
    --tw-text-opacity: 1;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;

    text-align: center!important;

    padding-top: 0.25rem!important;
    padding-bottom: 0.25rem!important;

    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;

    bottom: 0!important;

    letter-spacing: 0.1em;

    line-height: 1.25;

    font-weight: 300;

    width: 100%;
    
    position: absolute;
    
    left: 0;
}