* {
    font-family: poppins;
}

.section {
    max-width: 1920px;
    margin-inline: auto;
    border: 2px solid red; /*eruit halen, dit is alleen voor responsive*/
}

.Box1 .BoxTitelSingle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.BoxTitelSingle {
    padding: 8px 8px;
    border: 2px solid #DFDFDF; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    border: none;

    /*Schuine lijnen*/
    width: 550px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: linear-gradient(88.43deg, rgba(0, 117, 255, 0.6975) -0.33%, rgba(0, 72, 255, 0.7125) 48%, rgba(0, 117, 255, 0.6975) 98.73%);
    transform: skew(-20deg);
}



.BoxTitelSingle h1 {
    font-size: 35px;
    color: #fff;
    transform: skew(20deg);
}

.content {
    height: auto;
    width: auto;
    margin: 3.5em;
    font-size: 18px;

    /* border: 2px solid black; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.content h1 {     /*Pakt de # van md  https://www.markdownguide.org/basic-syntax*/
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
}

.content h2 {
    font-weight: bold;
    font-size: 22px;
    margin-top: 12px;
}

.content h3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.content h4 {
    font-size: 18px;
    margin-top: 0px;
}

.content img {
    width: 45em;
    border: 7.5px solid #DFDFDF;
    border-radius: 10px;
    margin-top: 15px;
}

.content iframe {
    border-radius: 0;
    margin-top: 20px;
}

.content a {
    color: #0072BB;
}

/* ============================ */
/* Responsive */

@media all and (max-width: 750px) {

    .BoxTitelSingle {
        width: 450px;
        height: 90px;
    }

    .BoxTitelSingle h1 {
        font-size: 30px;
    }
}

@media all and (max-width: 600px) {

    .BoxTitelSingle {
        width: 400px;
        height: 80px;
    }

    .BoxTitelSingle h1 {
        font-size: 25px;
    }

}

@media all and (max-width: 500px) {

    .BoxTitelSingle {
        width: 300px;
        height: 70px;
    }

    .BoxTitelSingle h1 {
        font-size: 22px;
    }

}

@media all and (max-width: 400px) {

    .BoxTitelSingle {
        width: 250px;
        height: 65px;
    }

}





