* {
    font-family: poppins;
}

.Box1 .BoxTitelSingle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.BoxTitelSingle {
    padding: 8px 8px;
    border: 2px solid #DFDFDF; 
    width: 550px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    border: none;

    /*Schuine lijnen*/
    width: 550px;
    height: 100px;
    left: 0px;
    top: 0px;
    background-color: aqua;
    transform: skew(-20deg);
}



.BoxTitelSingle h1 {
    font-size: 35px;
    color: #fff;
    transform: skew(20deg);
}

.content {
    height: auto;
    width: auto;
    margin: 3.5em;
    font-size: 18px;

    /* border: 2px solid black; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.content h1 {     /*Pakt de # van md  https://www.markdownguide.org/basic-syntax*/
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
}

.content h2 {
    font-weight: bold;
    font-size: 22px;
    margin-top: 12px;
}

.content h3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.content h4 {
    font-size: 18px;
    margin-top: 0px;
}

.content img {
    width: 45em;
    border: 2.5px solid black;
    border-radius: 7.5px;
    margin-top: 15px;
}

.content iframe {
    border-radius: 0;
    margin-top: 20px;
}





