* {
    font-family: poppins;
}

.Box1 .BoxTitelSingle {
    display: flex;
    align-items: center;
    justify-content: center;
}


.BoxTitelSingle {
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    background: linear-gradient(88.43deg, rgba(0, 117, 255, 0.7275) -0.33%, rgba(0, 56, 255, 0.75) 48%, rgba(0, 117, 255, 0.72) 98.73%);
    padding: 15px 20px;
    width: 60%;
    max-width: 800px;
    margin: 20px auto auto;
    transform: skew(-20deg);
    border-radius: 3px;
    /*clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);*/ /*Andere manier voor transform*/
}

.BoxTitelSingle h1 {
    transform: skew(20deg);
    
}

span {
    display: block;
    text-align: center;
}


.content {
    height: auto;
    width: auto;
    margin: 3.5em;
    font-size: 18px;

    /* border: 2px solid black; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.content h1 {     /*Pakt de # van md  https://www.markdownguide.org/basic-syntax*/
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
}

.content h2 {
    font-weight: bold;
    font-size: 22px;
    margin-top: 12px;
}

.content h3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.content h4 {
    font-size: 18px;
    margin-top: 0px;
}

.content img {
    width: 45em;
    border: 2.5px solid black;
    border-radius: 7.5px;
    margin-top: 15px;
}

.content iframe {
    border-radius: 0;
    margin-top: 20px;
}





