.container-content {
  margin: 0px;
  width: 782px; /*Lengte zoekbalk op de achtergrond*/
  margin-right: 20px;

  /* border: 5px solid yellow; */
  transition: all 0.3s ease;
}

.sdropdown {
  position: relative;
  display: inline-block;
  width: 765px;

  /* border: 5px solid red; */
}

.sdropdown-content {
  display: block;
  position: absolute;
  background-color: #e9e9e9;
  z-index: 1;
  min-width: 100%;
  margin: 0;
  padding: 0;

  border: 2px solid green;
}

.tekstgeenzoekr {
  padding: 10px;
  margin-top: -24px;
  margin-bottom: 0;
  font-size: 20px;
}

.sdropdown-content a {
  color: black;
  min-width: 100%;
  min-height: 100%;
  text-decoration: none;
  display: block;

  /* border: 5px solid blue; */
}

.sdropdown-content a:hover {
  background-color: #dfdfdfe3;
}

.table,
td {
  max-height: 65px;
  min-width: 110px;
  padding: 5px;
  padding-right: 20px;
}

h1.post-title {
  margin: 0;
}

/* .searchbar {
  border: solid 2px #0075ff;
  border-radius: 2px;

  transform: skew(-20deg);
  transition: all 0.3s ease;
} */

/* input {
  height: 46px;
  width: 746px;
  outline: none;

  transform: skew(20deg);
  transition: all 0.3s ease;
  border-radius: 8px;

  /* border: 5px solid pink; 
} 
*/

input {
  border: solid 2px #0075ff;

  height: 46px;
  width: 746px;
  outline: none;

  transform: skew(-20deg);
  transition: all 0.3s ease;
  border-radius: 2px;
  padding-left: 5px;
  height: 50px;
}

input::placeholder {
  transition: all 0.3s ease;
  transform: skew(20deg);
}

input:focus,
input:focus::placeholder {
  transform: skew(0deg);
}

input:focus + .ptje {
  display: none;
}

.searchbar input {
  margin-left: 15px;
  font-size: 20px;

  margin-right: 10px;
}
