{{ define "main" }}

<head>
  <base href="/project-showcase/" />
  <link rel="stylesheet" href="css/index.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Poppins"
    rel="stylesheet"
  />
</head>

<section class="text-gray-700 body-font">
  <div class="home">
    
    <div id="myAnchor" class="header-mobile">
      <div class="logo-mobile-div">
        <a target="_blank" href="https://www.che.nl/">
          <img class="logo-mobile" src="img/logo-mobile.svg" alt="Logo" />
        </a>
      </div>
      <section onclick="toggle()" class="post-mobile">
        <!-- <h1 class="post-title">Search:</h1> -->
        <div class="searchbar-mobile">
          <img class="img-searchbar" src="" alt="" />
          <input
                  type="text"
                  id="search-input"
                  placeholder=" "
                  oninput="showSearchResults()"
          />
        </div>
        <div class="sdropdown">
          <div class="sdropdown-content" id="sdropdown-content">
            <div id="list"></div>
            <!-- this list is for rendering the results -->
          </div>
        </div>
      </section>
    </div>

    <div class="home-picture"></div>
    <div class="box-overlay">
      <div class="home-overlay"></div>
      <div class="home-overlay2"></div>
      <div class="links">
        <div class="text-links">
          <p class="direct-title">Direct naar:</p>
          <img src="img/Line.svg" alt="" />
          <p class="direct-title">Usability</p>
          <p class="direct-title">Development</p>
          <p class="direct-title">Consulatancy</p>
        </div>
      </div>
    </div>

    <div class="logo-background">
      <a target="_blank" href="https://www.che.nl/">
        <img class="logo" src="img/logoCHE.svg" alt="Logo" />
      </a>
    </div>
  </div>
  <div class="arrow">
    <a href="#Artikelen"
      ><img class="arrowImg" src="img/Arrow.svg" alt="" id="bouncing-arrow"
    /></a>
  </div>
  <div class="line">
    <hr class="line" />
  </div>

  <!--  <div class="home-picture-div">-->
  <!--    <img class="home-picture" src="img/Home-Picture.jpg" alt="Home Picture">-->
  <!--  </div>-->
  <div id="Artikelen"></div>

  <div class="container px-5 py-8 mx-auto">
    {{- partial "custom-message.html" . -}}

    <div class="searchsearch">
      <div class="search">{{- partial "search.html" . -}}</div>
      <div class="tags">{{- partial "taglist.html" . -}}</div>
    </div>

    {{ .Scratch.Set "pages" .Site.Pages }} {{ if eq .Site.Params.multipage true
    }} {{- partial "pagination.html" . -}} {{ else }} {{- partial
    "no-pagination.html" . -}} {{ end }}
  </div>
</section>
<script>
  setInterval(function () {
    var image = document.getElementById("bouncing-arrow");
    image.style.animation = "bounce 4s infinite";
  }, 5000);
</script>


{{ end }}
