<head>
  <link rel="stylesheet" href="css/header-single.css">
</head>
<body>
  

  <!-- <style> 
    .navigatiebalk {
      background-color: red;
    }
    .nav {
      /* text-align: center; */
      display: inline;
    }
    .img_search {
      width: 100px;
    } -->
    


  </style>

  <header class="navigatiebalk">
      <nav class="nav">
        <img src="" alt="">
        <h1>Hier komt het vak</h1>

        <button>d<img class="img_search" src="/nav-search.png/" alt=""></button>
        <button>Menu <img src="" alt=""></button>
      </nav>
  </header>
</body>