/* Form */
#myForm {
  width: 840px;
  margin: 57px auto;
}

/* Common Styles */
.inputBox {
  position: absolute;
  background: #FFFFFF;
  border: 2px solid rgba(30, 36, 50, 0.42);
  border-radius: 7px;
  height: inherit;
  width: inherit;
}

.text-styles {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.labelStyles {
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #004274;
  margin-bottom: 10px;
  height: 27px;
}

/* studiejaarBox */
.studiejaarBox {
  width: 132px;
  height: 194px;
  left: 333px;
  top: 384px;
  border-radius: 7px;
}

/* Project title */
.projectTitleBox {
  width: 477px;
  height: 44px;
  left: 333px;
  top: 262px;
}

/* Project Title */
.projectTitleLabel {
  width: 131px;
  left: 333px;
  top: 232px;
}

/* Project Description */
.projectDescriptionLabel {
  position: absolute;
  width: 233px;
  left: 382px;
  top: 678px;
}

/* Rectangle 36 */
.paragraphTitleBox {
  width: 675px;
  height: 44px;
  left: 383px;
  top: 848px;
}

/* Typ hier de titel van jouw alinea... */
.typography-title {
  width: 300px;
  height: 24px;
  left: 393px;
  top: 858px;
  font-size: 20px;
  line-height: 24px;
  color: rgba(30, 36, 50, 0.6);
}

/* Titel */
.typography-heading {
  width: 48px;
  height: 24px;
  left: 383px;
  top: 820px;
}

/* Inhoud Project */
.typography-content {
  width: 200px;
  height: 24px;
  left: 383px;
  top: 782px;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: #004274;
}

/* Project Informatie */
.typography-project-info {
  width: 249px;
  height: 24px;
  left: 332px;
  top: 195px;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: #004274;
}

/* Schooljaar */
.typography-school-year {
  width: 116px;
  height: 27px;
  left: 498px;
  top: 383px;
}

/* Studiejaar */
.typography-study-year {
  width: 110px;
  height: 27px;
  left: 343px;
  top: 394px;
}

/* Jaar 1 */
.typography-year1 {
  width: 57px;
  height: 24px;
  left: 376px;
  top: 429px;
  color: #000000;
}

/* Radio Button1-4 */
.radio-1,
.radio-2,
.radio-3,
.radio-4 {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 343px;
}

.radio-1 {
  top: 429px;
}

.radio-2 {
  top: 466px;
}

.radio-3 {
  top: 505px;
}

.radio-4 {
  top: 543px;
}

/* needs adding from after checkbox