.project {
    display: flex;
    flex-wrap: wrap!important;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.box {
    transform: skew(-5deg);
    position: relative;
    margin: 0 28px 0 28px;
    
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: calc(100%/3);
    background: linear-gradient(161.61deg, #E4DEDE 0.34%, rgba(251, 240, 240, 0.37) 56.96%, #D6D1D1 106.91%);
    border-radius: 4px;
    
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter, background-position-y, border-radius, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    
    /*transition: background 0.5ms ease-out;*/

    background-size:500px 380px;
    background-position-x: -70px;
    padding: 20px;
}
@media (min-width: 768px) {
    .box {
        width: 250px;
    }
}
@media (min-width: 640px) {
    .box {
        margin-bottom: 3rem;
        
    }
}

/*box 4 items*/
@media (min-width: 1400px) {
    .box {
        margin-left: 28px!important;
        margin-right: 28px!important;
    }
}
/*box 3 items*/
@media only screen and (max-width: 1399px) and (min-width: 1200px){
    .box {
        margin-left: 49px;
        margin-right: 49px;
    }
}
/*box 2 items*/
@media only screen and (max-width: 1199px) and (min-width: 1000px){
    .box {
        margin-left: 40px;
        margin-right: 40px;
    }
    .project {
        padding-left: 102px;
        padding-right: 102px;
    }
}
@media only screen and (max-width: 999px) and (min-width: 768px){
    .box {
        margin-left: 31px;
        margin-right: 31px;
    }
}

@media (max-width: 766px) {
    .box {
    /*    Mobile Viewer     */
    }
}


.box:hover {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-shadow);
    
    background-position-y:-30px;
    
    border-radius: 6px;
}



.content {
    border-radius: 2px;
    height: 280px;
    position: relative;
}

.thumbnail {
    position: relative;
    height: 50%;
    width: 106%;
}
.thumbnail2 {
    position: absolute;
    transform: skew(5deg);
    left: -6px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
    
}


.title {
    transform: skew(5deg);
    color: #090909;

    /*font-family: 'Poppins', sans-serif;*/
    font-style: normal;
    font-weight: 900;
    margin-bottom: 0;
    
    display: block;
    padding-top: 0.25rem!important;
    padding-bottom: 0.25rem!important;
    letter-spacing: 0.2px;
    /*font-size: 1.5rem;*/
    /*line-height: 1.25;*/
    /*font-weight: 500;*/
    font-feature-settings: revert;
    word-wrap: break-word;
}


.description {
    transform: skew(5deg);
    --tw-text-opacity: 1;
    --bs-text-opacity: 1;

    display: flex;
    text-align: left;

    /*padding-top: 0.25rem!important;*/
    /*padding-bottom: 0.25rem!important;*/
    
    /*padding-right: 0.5rem!important;*/
    /*padding-left: 0.5rem!important;*/


    margin-top: -10px;
    width: 100%;
    position: absolute;
    left: 0;
    
    font-family: 'Poppins', system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;

    color: #464646;
}