* {
  font-family: Poppins;
}

.tagvenster {
  max-width: 520px; /*lengte taglist 520px*/
  overflow: hidden;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 320px; /*Pas deze aan samen met .container-content margin-right in search.css, om deze goed in het midden te krijgen*/
}

/*Vierkantje van de input weghalen*/
.tagvenster input {
  display: none;
}

/*De knop Tags*/
.tagvenster label {
  position: relative;
  background: #fff;
  color: #6f6f6f;
  display: block;
  /* margin-bottom: 10px; */
  cursor: pointer;
  padding: 8px;
  border-radius: 2px;
  border: solid 2px #0075ff;
  z-index: 1;
  background: #fff;
  max-width: 90px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  transform: skew(-20deg);
  margin-right: 8px;
}

.tagvenster label:hover {
  color: #0075ff;
}

.tagvenster input:checked + label {
  transform: skew(0deg);
}

.tagvenster input:checked + label p {
  transform: skew(0deg);
  transition: all 0.2s ease-in-out;
  color: #0075ff;
}

/*Tekst van de knop Tags*/
label p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  font-size: 20px;
  transform: skew(20deg);
}

/*Tekst in het tabje*/
.tagvenster-text {
  max-height: 1px;
  overflow: hidden;
  border-radius: 4px;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 0;
  transition: all 0.3s ease;
}

.tagvenster input:checked ~ .tagvenster-text {
  max-height: 800px; /*Maximale hoogte van de Taglist*/
  padding-bottom: 25px;
  opacity: 1;
  top: 0;
  margin-right: 8px;
}

.tagvenster-text .ptag {
  padding: 10px 15px 15px 15px;
  margin-top: 5px;
  background: #fff;
  border: 2px solid #0075ff;
  border-radius: 2px;
}

/*Knoppen van de Tags*/
.tagbutton {
  background: #fff;
  color: #0075ff;
  border: 2px solid #0075ff;

  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  margin-top: 5px;
}

.tagbutton:hover {
  color: #fff;
  background: #0075ff;
}

#clear-filter {
  background: #0075ff;
  padding: 16px 12px;
  color: #fff;
  border: 2px solid #0075ff;

  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  margin-top: 5px;
}
